<!-- {company, student_list} -->
<div class="accordion" id="company-accordian<%= company._id %>" style="padding: 0px 3%;">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0" style = "display: flex; justify-content: space-between;">
        <span>
          <%= company.companyName %>
        </span>
            <div style = "display: flex;
            align-content: center;
             justify-content: flex-end;">
             <%- include('company_update', company) %>
             <%- include('company_delete', company) %>
            <button onclick="toggle('student-details-toggle<%= company._id %>')" class="btn btn-link" type="button" data-toggle="collapse"
              data-target="#companyCollapse<%= company._id %>" aria-expanded="false" aria-controls="collapseOne">
              Show Company Details <i class="fa-regular fa-square-caret-down"
                id="student-details-toggle<%= company._id %>"
                onclick="toggle('student-details-toggle<%= company._id %>')"></i>
            </button>
            
      </h2>
    </div>

    <div id="companyCollapse<%= company._id %>" class="collapse" aria-labelledby="headingOne"
      data-parent="#company-accordian<%= company._id %>">
      <div class="card-body">
         <%- include('company_interview_table', company) %>
         <%- include('shedule_interview_modal', {company, student_list}); %>
         <%- include('sheduled_interview_table', {company, student_list}); %>
      </div>
    </div>
  </div>
</div>

