<!-- {company, student_list} -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sheduleInterview<%= company._id %>">
    Shedule Interview
</button>

<!-- Modal -->
<div class="modal fade" id="sheduleInterview<%= company._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Shedule Interview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body<%= company._id %>" style="font-size:16px;">
                <form id="shedule-interview<%= company._id %>"  method="POST" class="sign-in-form">
                    <div class="form-group">
                        <label class="required" for="profile">Profile</label>
                        <input required name="profile" type="input" class="form-control form-control-sm" id="profile"
                            placeholder="enter Profile" value="" autocomplete="off">
                    </div>
                    <label class="required" for="student">Student</br><small>*if student doesnt appear here pls add student and shedule
                            interview</small></label>

                    <select required name="studentId" class="form-select" aria-label="Default select example" id="student">
                        <option value="" selected>Open this select menu</option>
                        <% for(k of student_list){ %>
                            <option value="<%= k._id %>">
                                <%= k.name %>
                            </option>
                            <% } %>
                    </select>
                    <br>
                    <label class="required" for="result">Result</label>
                    <select required name="result" class="form-select" aria-label="Default select example" id="result">
                        <option value="" selected>Open this select menu</option>
                        <option  value="PASS">PASS</option>
                        <option value="FAIL">FAIL</option>
                        <option value="On Hold">On Hold</option>
                        <option  value="Didn’t Attempt">Didn’t Attempt</option>
                    </select>
                    <br>
                    <input type="hidden" name="companyId" value="<%= company._id %>">
                    <input type="hidden" name="date" value="<%= company.date %>">
                    <input type="hidden" name="companyName" value="<%= company.companyName %>">
                </form>
            </div>
            <div class="modal-footer">
                <button id="sheduleInterviewCloseButton<%= company._id %>" type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
                <button
                    onclick="sheduleInterview('shedule-interview<%= company._id %>', 'sheduleInterviewCloseButton<%= company._id %>')"
                    type="button" class="btn btn-primary">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>

