<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Student Name</th>
            <th scope="col">Profile</th>
            <th scope="col">Result</th>
        </tr>
    </thead>
    <tbody>
        <% count=1 %>
        <!-- <% if(company.students != undefined){ %> -->
        <% for(k of company.students){ %>
            <tr>
                <th scope="row"><%= count %></th>
                <td><%= k.studentId.name %></td>
                <td><%= k.profile %></td>
                <td><%= k.result %></td>
                <td><%- include('update_sheduled_interview', {k, company, student_list}); %> </td>
                <td><%- include('delete_sheduled_interview', {k, company}); %> </td>
            </tr>
        <% count = count+1 %>
        <% } %>
        <% if(count==1){ %>
            <tr>
            <td colspan="5">No Student Sheduled for Interview</td>
        </tr>
          <% } %> 

        <!-- <% } %>   -->
    </tbody>
</table>