<table id="student-interview-table<%= i._id %>" class="table table-bordered table-sm container-sm" style="width: 95%;">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">company Name</th>
      <th scope="col">profile</th>
      <th scope="col">Interview sheduled date</th>
      <th scope="col">result</th>
    </tr>
  </thead>
  <tbody>
    <% let counter=1 %>
      <% for(l of i.interviews){ %>
        <tr id="interview-row<%= l._id %>">
          <th scope="row">
            <%= counter %>
          </th>
          <td>
            <%= l.companyId.companyName %>
          </td>
          <td>
            <%= l.profile %>
          </td>
          <td>
            <%= l.date %>
          </td>
          <td>
            <%= l.result %>
          </td>
        </tr>
        <% counter=counter+1 %>
          <% } %>
          <% if(counter==1){ %>
            <tr>
            <td colspan="5">No Student Sheduled for Interview</td>
        </tr>
          <% } %>
  </tbody>
</table>