<!-- Button trigger modal -->
<button   type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterEditInterviewForStudent<%= l._id %>">
    edit
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenterEditInterviewForStudent<%= l._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-size:16px;">
            <form id="student-interview-edit-submit<%= l._id %>" action="/student/add-interview" method="POST" class="sign-in-form">
                <div class="form-group">
                  <label for="profile">Enter Profile</label>
                  <input name="profile"  type="input" class="form-control form-control-sm" id="profile" aria-describedby="profile" placeholder="Enter Profile" value="<%= l.profile %>">
                </div>
                <div class="form-group">
                    <label for="date">Date:</label>
                    <br>
                    <input type="date" class="form-control form-control-sm" id="date" name="date">
                </div>
                <!-- <div class="form-group">
                    <label for="result">Result</label>
                    <input name="result"  type="input" class="form-control form-control-sm" id="result" aria-describedby="result" placeholder="Enter Result" value="">
                </div> -->
                    <label for="company">Company</label>
                    <!-- <br> -->
                    <select  name="company" class="form-select" aria-label="Default select example" id="company" >
                        <option selected>Open this select menu</option>
                        <% for(k of company_list){ %>

                            <% if(l.company.equals(k._id) ){ %>
                                <option value="<%= k._id %>" selected><%= k.companyName %></option>
                            <% }else{ %>
                                <option value="<%= k._id %>"><%= k.companyName %></option>
                            <% } %>    
                        <% } %>
                    </select> 
                    <br>
                    <label for="result">Result</label>
                    <!-- <br> -->
                    <select name="result" class="form-select" aria-label="Default select example" id="result" >
                        <option selected>Open this select menu</option>
                        <% if(l.result=="PASS"){ %>
                            <option value="PASS" selected>PASS</option>
                        <% }else{ %> 
                            <option value="PASS">PASS</option>
                        <% } %>   
                        <% if(l.result=="FAIL"){ %>
                            <option value="FAIL" selected>FAIL</option>
                        <% }else{ %> 
                            <option value="FAIL">FAIL</option>
                        <% } %>  
                        <% if(l.result=="On Hold"){ %>
                            <option value="On Hold" selected>On Hold</option>
                        <% }else{ %> 
                            <option value="On Hold">On Hold</option>
                        <% } %>  
                        <% if(l.result=="Didn’t Attempt"){ %>
                            <option value="Didn’t Attempt" selected>Didn’t Attempt</option>
                        <% }else{ %> 
                            <option value="Didn’t Attempt">Didn’t Attempt</option>
                        <% } %>  
                            <option value="PASS">PASS</option>
                            <option value="FAIL">FAIL</option>
                            <option value="On Hold">On Hold</option>
                            <option value="Didn’t Attempt">Didn’t Attempt</option>
                    </select> 
                    <br>
                <input type="hidden" name="interviewId" value="<%= l._id %>">
                <input type="hidden" name="student" value="<%= i._id %>">
                <input type="hidden" name="studentName" value="<%= i.name %>">
                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            </form>
        </div>
        <div class="modal-footer">
          <button id="student-interview-edit-close<%= l._id %>" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button onclick="editStudentInterview('student-interview-edit-submit<%= l._id %>', 'student-interview-edit-close<%= l._id %>', 'interview-row<%= l._id %>')" type="button" class="btn btn-primary student-edit-submit">Save changes edit</button>
        </div>
      </div>
    </div>
  </div>
  
<!-- <script src="/js/student_interview_add.js"></script> -->
<script>
 
 editStudentInterview = function(formId, closeBtnId, inteviewRow){
        console.log('reached');
        let newPostForm = $('#'+formId);
        document.getElementById(closeBtnId).click();
        $('.modal-backdrop').remove();
        console.log('newPostForm',newPostForm);
        console.log('newPostForm.serialize()',newPostForm.serialize());
        console.log('insidesubmitccc',newPostForm.serialize());
            
            $.ajax({
                type: 'post',
                url: '/student/edit-interview',
                data: newPostForm.serialize(),
                success: function(data){
                    let updatedInterviewRecord = newRow(data.data.updatedRecord, inteviewRow);
                    // let a = document.getElementById(inteviewRow);
                    $('#'+inteviewRow).replaceWith(updatedInterviewRecord);
                }, error: function(error){
                    console.log(error.responseText);
                }
            });
            
    }

    function newRow(addedInterview,inteviewRow ){
      return htmlElement = `<tr id="${inteviewRow}">
        <th scope="row">${1}</th>
        <td>${addedInterview.companyName}</td>
        <td>${addedInterview.profile}</td>
        <td>${addedInterview.date}</td>
        <td>${addedInterview.result}</td>
      </tr>`;
    }


</script>